*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

body {
	min-height: 100vh;
}

img,
svg,
picture,
video {
	max-width: 100%;
}

h1{
	font-size: 60px;
	font-weight: bolder;
}

h2{
	font-size: 40px;
	font-weight: bolder;
}

p{
	line-height: 40px;
	padding: 20px;
	font-weight: 15px;
}

/* colors */
:root{
	--violet: #9fa6f2;
	--white: white;
	--light-black: #303030;
	--light-grey: lightgray;
	--light-blue: #255ee9;
}

a{
	text-decoration: none;
	color: var(--white);
}
/* buttons */
.btn{
	padding: 7px 15px;
	border-radius: 50px;
	border-width: 0;
	cursor: pointer;
}

.btn-black{
	color: var(--white);
	background-color: var(--light-black);
}

.btn-white{
	color: var(--light-black);
	background-color: var(--white);
}

.btn-violet{
	color: var(--white);
	background-color: var(--violet)
}

