
/* HEADER */

.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 10px 0;

	/* debug */
	/* background-color: lightblue; */
	background-color: #255ee9;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;

	/* debug */
	/* background-color: goldenrod;
	border: 2px dashed black; */

}

.header-links {
	flex-grow: 1;
	text-align: center;
}

.header-links>*{
	margin: 0 20px;
	color: white;
}

.header-login {
	text-align: right;

}

#accedi{
	background-color: white;
	padding: 5px 10px;
	border-radius: 50px;
	border-color: white;
}

/* JUMBOTRON */

.jumbotron {
	padding: 50px 0;
	display: flex;
	justify-content: center;
	/* debug */
	/* background-color: darkblue; */
	background-image: url(../img/jumbo.png);
	background-size: cover;
	min-height: 700px;
}

.jumbotron .content {
	min-height: 400px;
	width: 50%;

	/* debug */
/* 	background-color: #ee82ee;
	border: 2px dashed black; */
}

.content{
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#Scarica{
	background-color: white;
	padding: 5px 10px;
	border-radius: 50px;
	border-color: white;
}

#Apri{
	color: white;
	background-color: black;
	padding: 5px 10px;
	border-radius: 50px;
	border-color: black;
}

/* MAIN & SECTIONS */

main>section {
	padding: 150px 0;
}

main>section>.container {
	display: flex;

	/* debug */
	min-height: 500px;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: lightgray;
}

.main-col {
	width: 60%;

	/* debug */
	/* background-color: cornflowerblue;
	border: 2px dashed black; */
}

.side-col {
	width: 40%;

	/* debug */
	/* background-color: pink;
	border: 2px dashed black; */
}

.hilighted-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;

	/* debug */
/* 	min-height: 800px;
	background-color: forestgreen;
	border: 2px dashed black; */
}

.hilighted-content>*{
	text-align: center;
}

.start-adventure>h2{
	background-image: url(../img/stars.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

#Scarica2{
	background-color: #9fa6f2;
	margin-top: 20px;
	padding: 5px 10px;
	border-radius: 50px;
	border-color: #9fa6f2;
	color: white;
}

/* FOOTER */

.footer-main {
	padding-top: 40px;


	/* debug */
	background-color: #23272a;
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid purple;

	/* debug */
	min-height: 500px;
}

.footer-main-col {
	width: calc(100% / 3);
	display: flex;
	flex-direction: column;

	/* debug */
/* 	background-color: #f08080;
	border: 2px dashed black; */
}

.footer-main-col > *{
	padding: 30px 0;
}

.footer-main-col > h2{
	color: #9fa6f2;
}

.footer-main-col > span{
	color: white;
}

.language>img{
	height: 20px;
}

.icons>*{
	margin: 0 15px;
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);

	/* debug */
/* 	background-color: #20b2aa;
	border: 2px dashed black; */
}

.footer-col {
	width: 25%;
	display: flex;
	flex-direction: column;
	padding: 30px 0;

	/* debug */
/* 	background-color: #20b2aa;
	border: 2px dashed white; */
}

.footer-col>a{
	padding: 10px 0;
}

.footer-col>:first-child{
	color: #9fa6f2;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;

	/* debug */
	/* background-color: #7fffd4; */
}

#Registrati{
	background-color: #9fa6f2;
	padding: 5px 10px;
	border-radius: 50px;
	border-color: #9fa6f2;
	color: white;
}

.footer-bottom>* {
	padding: 5px 10px;


	/* debug */
/* 	background-color: #ffb6c1;
	border: 2px dashed black; */
}